<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <title>Car Registration From</title>
    <meta charset="UTF-8" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Car Registration From" />
    <!-- <meta property="og:image" content="_Image" /> -->
    <meta property="og:type" content="image/png" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta property="og:description" content="Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="_color" />
    <!-- <link rel="icon" type="image/x-icon" href="../Img/" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Car Registration Form</h1>
    <form data-car-form>
      <!-- <label for="fname">Model:</label><br /> -->
      <car-model-card></car-model-card><br />
      <label for="fname">Year:</label><br />
      <input type="text" id="fname" value="John" required /><br />
      <label for="fname">Manufacturer:</label><br />
      <input type="text" id="fname" value="John" required /><br />
      <label for="fname">License Plate:</label><br />
      <input type="text" id="fname" value="John" required /><br />
      <label for="fname">VIN number:</label><br />
      <input type="text" id="fname" value="John" /><br />
      <label for="fname">Current Milage:</label><br />
      <input type="text" id="fname" value="John" /><br />
      <label for="fname">Owner:</label><br />
      <input type="text" id="fname" value="John" required /><br />
      <label for="fname">Photo:</label><br />
      <input type="text" id="fname" /><br />
      <!-- <input type="button" value="Save Car" /> -->
    </form>
  </body>
  <script type="module" src="/Js/carForm.js"></script>
  <script type="module" src="/Js/webElements/carCharacteristics.js"></script>
</html>
