<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <title>Car Registration From</title>
    <meta charset="UTF-8" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Car Registration From" />
    <!-- <meta property="og:image" content="_Image" /> -->
    <meta property="og:type" content="image/png" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta property="og:description" content="Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="_color" />
    <!-- <link rel="icon" type="image/x-icon" href="../Img/" /> -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <h1>Costumer Registration Form</h1>
    <form data-costumer-form>
      <!-- name, phone # -->
      <label for="cos_fName">First name:</label><br />
      <input type="text" name="cos_fName"/><br />
      <label for="cos_lName">Last name:</label><br />
      <input type="text" name="cos_lName"/><br />
      <label for="cos_Phone">Phone Number</label><br />
      <input type="tel" name="cos_Phone" id="phoneInput"><br />
    </form>
    <button data-send-form>Save</button>
  </body>
  <script type="text/javascript" src="/Js/costumerForm.js"></script>
</html>
