<!DOCTYPE html>
<html lang="en" prefix="og: http://ogp.me/ns#">
  <head>
    <title>_title</title>
    <meta charset="UTF-8" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="_?Title" />
    <meta property="og:image" content="_Image" />
    <meta property="og:type" content="image/png" />
    <meta property="og:image:width" content="500" />
    <meta property="og:image:height" content="500" />
    <meta property="og:description" content="Description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="_color" />
    <link rel="icon" type="image/x-icon" href="../Img/" />
    <link href="" rel="stylesheet" type="text/css" />
  </head>

  <body>
    <new-car-modal-card></new-car-modal-card>
    <!-- Notification container -->
    <div
      id="notifications-container"
      style="position: fixed; top: 20px; right: 20px; z-index: 9999"
    ></div>

    <!-- <dialog>
      <button autofocus>Close</button>
      <p>This modal dialog has a groovy backdrop!</p>
    </dialog>
    <button>Show the dialog</button> -->
  </body>
  <script type="module" src="/Js/webElements/wE-car-modal-card.js"></script>
  <script>
    function showNotification(message, type = "info") {
      const container = document.getElementById("notifications-container");

      const not = document.createElement("div");
      not.textContent = message;
      not.style.cssText = `
        background: ${type === "error" ? "#ff4d4f" : "#4caf50"};
        color: white;
        padding: 10px 20px;
        margin-top: 10px;
        border-radius: 8px;
        font-family: sans-serif;
        box-shadow: 0 2px 8px rgba(0,0,0,0.2);
        opacity: 0;
        transition: opacity 0.3s ease;
    `;

      container.appendChild(not);

      // Fade in
      setTimeout(() => {
        not.style.opacity = "1";
      }, 10);

      // Remove after 10 sec
      setTimeout(() => {
        not.style.opacity = "0";
        setTimeout(() => not.remove(), 300);
      }, 10000);

      document.addEventListener('notify',(e)=>{
        showNotification(e.detail.message, e.detail.type)
      })
    }
  </script>
</html>
